body {
  background-color: rgb(28, 26, 26);
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

/* Section Page Heights */
.section1 {
  height: 100vh;
}

.section2 {
  height: 100vh;
}

/* Page headers & tag stylings */
.tagText {
  color: rgb(151, 151, 151);
  font-family: 'Square Peg', 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.header-wrapper {
  padding-left: 60px;
}

.headers {
  color: white;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  font-size: 48px;
  padding-left: 15px;
}

.headers--p {
  color: white;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 15px;
  width: 60%;
}


/* Website fadein affect */
/* KeyFrames */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

