/* Intro title styles (core styles in app.css) */
.intro--title {
  margin: 0;
  padding-left: 60px;
  position: absolute;
  top: 42%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro--h1 {
  font-size: 54px;
}

/* Get In Touch Animated Btn */
.animated-border-button {
  margin-top: 20px;
  background-color: #5bd881;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  outline: none;
  padding: 12px 70px 12px;
  position: relative;
  font-family: 'Quicksand', 'Roboto', sans-serif;
}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.animated-border-button:before {
  border-top: 3px solid #fff;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 3px solid #fff;
  bottom: -4px;
  left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
}

/* Social Icons Bar Styling */
.intro--socialWrapper {
  position: fixed;
  bottom: 15px;
  left: 0;
}

.intro--socialIcons {
  height: 32px;
  padding: 0 10px;
  margin: 12px 13px;
}

.intro--socialIcons:hover {
  height: 36px;
}