/* Intro title styles (core styles in app.css) */
.intro--title {
  margin: 0;
  padding-left: 60px;
  position: absolute;
  top: 42%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro--h1 {
  font-size: 54px;
}

.intro--btn {
  padding: 12px 70px 12px;
  margin-top: 20px;
}

/* Social Icons Bar Styling */
.intro--socialWrapper {
  position: fixed;
  bottom: 15px;
  left: 0;
}

.intro--socialIcons {
  height: 32px;
  padding: 0 10px;
  margin: 12px 13px;
}

.intro--socialIcons:hover {
  height: 36px;
}